# SPDX-FileCopyrightText: 2024 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure OAuth2-Proxy path exists
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ oauth2_proxy_uid }}"
    group: "{{ oauth2_proxy_gid }}"
  with_items:
    - "{{ oauth2_proxy_base_path }}"

- name: Ensure OAuth2-Proxy support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ oauth2_proxy_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ oauth2_proxy_uid }}"
    group: "{{ oauth2_proxy_gid }}"
  with_items:
    - env
    - labels
  register: oauth2_proxy_support_files_result

- name: Ensure OAuth2-Proxy container image is pulled via community.docker.docker_image
  when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
  community.docker.docker_image:
    name: "{{ oauth2_proxy_container_image }}"
    source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
    force_source: "{{ oauth2_proxy_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
    force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else oauth2_proxy_container_image_force_pull }}"
  register: oauth2_proxy_container_image_pull_result
  retries: "{{ devture_playbook_help_container_retries_count }}"
  delay: "{{ devture_playbook_help_container_retries_delay }}"
  until: oauth2_proxy_container_image_pull_result is not failed

- name: Ensure OAuth2-Proxy container image is pulled via ansible.builtin.command
  when: devture_systemd_docker_base_container_image_pull_method == 'command'
  ansible.builtin.command:
    cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ oauth2_proxy_container_image }}"
  register: oauth2_proxy_container_image_pull_result
  retries: "{{ devture_playbook_help_container_retries_count }}"
  delay: "{{ devture_playbook_help_container_retries_delay }}"
  until: oauth2_proxy_container_image_pull_result is not failed
  changed_when: "'Downloaded newer image' in oauth2_proxy_container_image_pull_result.stdout"

- name: Ensure OAuth2-Proxy container network is created via community.docker.docker_network
  when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
  community.docker.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ oauth2_proxy_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"
  register: oauth2_proxy_network_creation_result

- name: Ensure OAuth2-Proxy container network is created via ansible.builtin.command
  when: devture_systemd_docker_base_container_network_creation_method == 'command'
  ansible.builtin.command:
    cmd: >-
      {{ devture_systemd_docker_base_host_command_docker }} network create
      {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
      {{ devture_systemd_docker_base_container_networks_driver_options_string }}
      {{ oauth2_proxy_container_network }}
  register: oauth2_proxy_network_creation_result
  changed_when: oauth2_proxy_network_creation_result.rc == 0
  failed_when: oauth2_proxy_network_creation_result.rc != 0 and 'already exists' not in oauth2_proxy_network_creation_result.stderr

- name: Ensure OAuth2-Proxy systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/oauth2-proxy.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ oauth2_proxy_identifier }}.service"
    mode: "0644"
  register: oauth2_proxy_systemd_service_result

- name: Determine whether OAuth2-Proxy needs a restart
  ansible.builtin.set_fact:
    oauth2_proxy_restart_necessary: >-
      {{
        oauth2_proxy_support_files_result.changed | default(false)
        or oauth2_proxy_systemd_service_result.changed | default(false)
        or oauth2_proxy_container_image_pull_result.changed | default(false)
      }}
