# SPDX-FileCopyrightText: 2024 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of OAuth2-Proxy systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ oauth2_proxy_identifier }}.service"
  register: oauth2_proxy_service_stat

- name: Uninstall OAuth2-Proxy systemd services and files
  when: oauth2_proxy_service_stat.stat.exists | bool
  block:
    - name: Ensure OAuth2-Proxy systemd service is stopped
      ansible.builtin.service:
        name: "{{ oauth2_proxy_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure OAuth2-Proxy systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ oauth2_proxy_identifier }}.service"
        state: absent

    - name: Ensure OAuth2-Proxy container network does not exist
      when: oauth2_proxy_container_network_deletion_enabled
      block:
        - name: Ensure OAuth2-Proxy container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ oauth2_proxy_container_network }}"
            state: absent
          register: oauth2_proxy_network_deletion_result

        - name: Ensure OAuth2-Proxy container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ oauth2_proxy_container_network }}
          register: oauth2_proxy_network_deletion_result
          changed_when: oauth2_proxy_container_network in oauth2_proxy_network_deletion_result.stdout

    - name: Ensure OAuth2-Proxy path does not exist
      ansible.builtin.file:
        path: "{{ oauth2_proxy_base_path }}"
        state: absent
